@(product:String, model:String,productParameters: scala.collection.immutable.List[(String,String,String,String)])

<style>

</style>

<div id="otherContent">
    <style>
    #t01{
    margin-top: 2%;
    margin-left:auto;
    margin-right:auto;
    }
    #t01, #th, #td {
    border: 1px solid black;
    border-collapse: collapse;
    }
    #th, #td {
    padding: 5px;
    text-align: left;
    }
    table#t01 tr:nth-child(even) {
    background-color: #eee;
    }
    table#t01 tr:nth-child(odd) {
    background-color:#fff;
    }
    </style>
    <div id="content2">
        @if(productParameters.isEmpty) {<div id="textMenu"> Данная модель изделия не доступна для сборки. </div>}
        @if(!productParameters.isEmpty){
            <div id="textMenu"> Характеристики </div>
            <table id="t01">
            @for(parameters <- productParameters) {
                <tr id="th"><td id="td">@parameters._1</td> <td id="td">@parameters._2</td> <td id="td">@parameters._3</td> <td id="td">@parameters._4</td></tr>
            }

            </table>
        </div>
    <div id="content3">
        <b style="text-align: center;color: #ff1d15;line-height: 1.3; margin-top: 2%;font-size: 18px; font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">Количество изделий:</b><br>
        <input type="text" id="quantity">

        <p><input type="button" value="Собрать" onclick="getPrice(@{"'"+product+"','"+model+"'"})"></p>
        <div id="textPrice" style="
        margin-top: 20%;
        color: #ff1d15;
        line-height: 1.3;
        margin-top: 2%;
        font-size: 18px;
        font-weight: bold;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;">
        </div>
    </div>
    }
</div>

