@(products: scala.collection.immutable.List[(Int, String)])

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/html">
    <head>
        <title>title</title>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>


        <script>
            var idProduct = 0;
            var hardwareIds = new Map();
            var countOfClicks= 0;
            var  hardwareId1 = 0;
            var  hardwareId2 = 0;
            var  hardwareId3 = 0;
            var quantityProduct = 1;
            var array = new Array();

        function removeContent(){
               $("#otherContentProducts").remove();
            }

        function getTagsForPrice(){

                console.log("quantityProduct="+quantityProduct);
                quantityProduct = 1;

                hardwareIds.forEach(function (item) {
                    array.push(item);
                });

                hardwareId1 = array[0];
                hardwareId2 = array[1];
                hardwareId3 = array[2];

                console.log("hardwareId1= " + hardwareId1);
                console.log("hardwareId2= " + hardwareId2);
                console.log("hardwareId3= " + hardwareId3);
                console.log("idProduct= " + idProduct);

            $.ajax({
                type : 'GET',
                url : "/getPriceProduct?idProduct=" + idProduct +"&hardwareId1=" + hardwareId1 +"&hardwareId2=" + hardwareId2 +"&hardwareId3=" + hardwareId3 + "&quantityProduct=" + quantityProduct,
                success : function(data) {
                        $("#otherContentPrice").remove();
                        $("#otherContentComposition").remove();
                        $("#otherContentConsumptionMaterials").remove();

                        var div = document.createElement('div');
                        div.type = 'text';
                        div.innerHTML = data;
                        div.display = 'none';
                        document.getElementById("price").appendChild(div);
                    },
                    error : function(data) { alert("Ошибка! Попробуйте ещё раз.")  }
                });

            }

        function getPrice(){

                     quantityProduct = document.getElementById("quantity").value;
                     console.log("quantityProduct="+quantityProduct);

                     $.ajax({
                         type: 'GET',
                         url: "/getPriceProducts?idProduct=" + idProduct +"&hardwareId1=" + hardwareId1 +"&hardwareId2=" + hardwareId2 +"&hardwareId3=" + hardwareId3 + "&quantityProduct=" + quantityProduct,
                         success: function(data){
                             console.log("data="+data);
                             var text ="Изделие(я) собрано(ы).  Стоимость: " + data + " руб.";
                             $("#textPrice").html(text);
                         },
                         error : function(data) { alert("Ошибка! Попробуйте ещё раз.")  }
                     });
       }

        function geHardwareProductAjax(idProd){
            idProduct = idProd;
            console.log("idProduct= " + idProduct);
                 $.ajax({
                     type : 'GET',
                     url : "/geHardwareProduct?idProduct=" + idProduct,
                     success : function(data) {
                          removeContent();
                          var div = document.createElement('div');
                          div.type = 'text';
                          div.innerHTML = data;
                          div.display = 'none';
                          document.getElementById("hardware").appendChild(div);
                         },
                     error : function(data) { alert("Данное изделие не доступно для сборки.")  }
                 });
            }

        function getIdHardware(idHardware,nameHardware){
            console.log("idHardware= " + idHardware + "   nameHardware= " + nameHardware);
            hardwareIds.set(nameHardware,idHardware);
            array.length = 0;
         }

        function getCountOfClicks()  {
            countOfClicks = countOfClicks+1;
            console.log("countOfClicks= " + countOfClicks);
        }

        function getAllCompositionProduct(idProd,countHardware){
            console.log("countOfClicks= " + countOfClicks);
            console.log("countHardware= " + countHardware);

            if(countOfClicks<(countHardware-3)){
                alert("Выбраны не все комплектующие!");

                idProduct=idProd;
                console.log("idProduct= " + idProduct);
            }
            else{
                hardwareIds.forEach(function (item) {
                    array.push(item);
                });

                hardwareId1 = array[0];
                hardwareId2 = array[1];
                hardwareId3 = array[2];

                console.log("hardwareId1= " + hardwareId1);
                console.log("hardwareId2= " + hardwareId2);
                console.log("hardwareId3= " + hardwareId3);

                $.ajax({
                    type : 'GET',
                    url : "/getAllCompositionProduct?idProduct=" + idProduct +"&hardwareId1=" + hardwareId1 +"&hardwareId2=" + hardwareId2 +"&hardwareId3=" + hardwareId3,
                    success : function(data) {
                        $("#otherContentComposition").remove();
                        $("#otherContentPrice").remove();
                        $("#otherContentConsumptionMaterials").remove();

                        var textPrice =" ";
                        $("#textPrice").html(textPrice);

                        var div = document.createElement('div');
                        div.type = 'text';
                        div.innerHTML = data;
                        div.display = 'none';
                        document.getElementById("composition").appendChild(div);
                    },
                    error : function(data) { alert("Выбраны не все комплектующие!")  }
                });
            }
        }

        function getConsumptionMaterials(){

            hardwareIds.forEach(function (item) {
                array.push(item);
            });

            hardwareId1 = array[0];
            hardwareId2 = array[1];
            hardwareId3 = array[2];

            console.log("hardwareId1= " + hardwareId1);
            console.log("hardwareId2= " + hardwareId2);
            console.log("hardwareId3= " + hardwareId3);
            console.log("idProduct= " + idProduct);

            $.ajax({
                type : 'GET',
                url : "/getConsumptionMaterialsForProduct?idProduct=" + idProduct +"&hardwareId1=" + hardwareId1 +"&hardwareId2=" + hardwareId2 +"&hardwareId3=" + hardwareId3,
                success : function(data) {
                    $("#otherContentComposition").remove();
                    $("#otherContentConsumptionMaterials").remove();
                    $("#otherContentPrice").remove();
                    var textPrice =" ";
                    $("#textPrice").html(textPrice);

                    var div = document.createElement('div');
                    div.type = 'text';
                    div.innerHTML = data;
                    div.display = 'none';
                    document.getElementById("consumptionMaterials").appendChild(div);
                },
                error : function(data) { alert("Выбраны не все комплектующие!")  }
            });

        }



</script>
    </head>
        <body>
            <div id="header"><div id="textHeader">Сборка изделий</div></div>
            <div id="menu">
                <form name="form">

                        <div id="textMenu0">Список изделий</div>

                        <select style="margin-left: 10%;" class="new-select-style-wpandyou select" id="products"  name="products">
                        @for(product <-products) {
                            <option onclick="geHardwareProductAjax(@{"'"+product._1+"'"})" value="@product._2"> @product._2 </option>
                        }
                        </select><br/><br/>

                </form>
            </div>
            <div id="content">
                <div id="hardware" style="margin-left: 8%"></div>
                <div id="content3">
                    <div id="composition"></div>
                    <div id="price"></div>
                    <div id="consumptionMaterials"></div>
                    <div id="text"><div id="textPrice"></div></div>
                </div>
            </div>

        </body>
</html>
