@(results: scala.collection.immutable.Map[String, Stream[(String, Int, String, String, String, String)]],idProduct: Int , countHardware:Int)

<div id="otherContentProducts">
    <style>
    table {
    border: 1px solid #ddd;
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    border: 1px solid #ddd;
    text-align: left;
    padding: 8px;
    }

    tr:nth-child(even){background-color: #f2f2f2}
    </style>
    <div id="content2">

            <div id="textMenu"> Комплектующие </div>
            <table >
                @for(result <- results) {
                    <tr >
                        <td ><div id="text">@result._1</div></td>
                        <td ><select class="new-select-style-wpandyou select" id="@result._1" name="@result._1">
                            <option selected onclick="getIdHardware('Пожалуйста,выберите модель')" value="Пожалуйста,выберите модель"> Пожалуйста,выберите модель </option>
                        @for(r <- result._2) {
                            @if(result._2.size > 1) {
                                <option onclick="getIdHardware(@{"'"+r._2+"','"+r._1+"'"})" value="@r._2"> @{r._3 + " " + r._4 + " " + r._5 + " " + r._6} </option>
                            }
                            @if(result._2.size == 1){
                              <option onclick="getCountOfClicks()" value="@r._2"> @{r._3 + " " + r._4 + " " + r._5 + " " + r._6} </option>
                            }

                        }
                        </select></td>
                    </tr>
                }
            </table>
        <p style="margin-left: 6%"><input type="button" class="button_example" href="#" value="Показать полный состав изделия" onclick="getAllCompositionProduct(@{"'"+idProduct+"','"+countHardware+"'"})"></p>
        <p style="margin-left: 6%"><input type="button" class="button_example"  value="Цена изделия" onclick="getTagsForPrice()"></p>
        <p style="margin-left: 6%"><button type="button" class="button_example"  value="Расход материлов" onclick="getConsumptionMaterials()">Расход материлов на производимые <br/> комплектующие для изделия</button></p>

    </div>

</div>
